body {
    margin: 0;
    padding: 0;
}

.unstyledlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ProfessionContainer {
    display: inline-block;
    width: 10em;
    height: 13em;
    border: 0.2em solid #F0F0F0;
    border-radius: 0.4em;
    margin: 0.3em;
    position: relative;
}

.ProfName {
    position: absolute;
    display: inline-block;
    bottom: 2em;
    text-align: center;
    color: blue;
}

.radios input[type="radio"] {
    display: none;
}

.radios label{
    cursor: pointer;
}

.radios input[type="radio"]:checked + label {
    border-color: lightskyblue;
}
