body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.unstyledlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ProfessionContainer {
    display: inline-block;
    width: 10em;
    height: 13em;
    border: 0.2em solid #F0F0F0;
    border-radius: 0.4em;
    margin: 0.3em;
    position: relative;
}

.ProfName {
    position: absolute;
    display: inline-block;
    bottom: 2em;
    text-align: center;
    color: blue;
}

.radios input[type="radio"], input[type="checkbox"] {
    display: none;
}

.radios label {
    cursor: pointer;
}

.radios input[type="radio"]:checked + label, .radios input[type="checkbox"]:checked + label {
    border-color: lightskyblue;
}


.navbar {
    width: 100vw;
    height: 6vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    border-bottom: 2px solid rgb(51, 51, 51)
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar ul li {
    color: white;
    margin: 0 0.5em;
    
}
