/*********************************      General stylesheet    ************************/

@font-face {
    font-family: "tekoSemiBold";
    src: url("DesignElements/fonts/teko/Teko-SemiBold.ttf") format('truetype')
}

@font-face {
    font-family: "tekoMedium";
    src: url("DesignElements/fonts/teko/Teko-Medium.ttf") format('truetype')
}

@font-face {
    font-family: "tekoregular";
    src: url("DesignElements/fonts/teko/Teko-Regular.ttf") format('truetype')
}

@font-face {
    font-family: "tekolight";
    src: url("DesignElements/fonts/teko/Teko-Light.ttf") format('truetype')
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.Black {
    color: rgb(30, 30, 30)
}

.blackTeko {
    color: rgb(30,30, 30);
    font-family: tekoregular;
    font-size: 2.3em;
}

.dropDown {
    border: solid 3px rgb(50, 93, 219);
    border-radius: 5px;
    width: 7em;
    height: 1.5em;
    font-size: 0.8em;
    font-family: tekoregular;
    background-color: rgb(251, 251, 251);
}


.dropDown_sml {
    border: solid 3px rgb(50, 93, 219);
    border-radius: 5px;
    width: 3em;
    height: 2em;
    font-size: 0.9em;
    font-family: tekoregular;
    background-color: rgb(251, 251, 251);
}

input[type="text"], input[type="password"] {
    border: solid 3px rgb(50, 93, 219);
    border-radius: 5px;
    width: 7em;
    height: 0.8em;
    font-size: 1em;
    font-family: tekoregular;
    background-color: rgb(251, 251, 251);
}

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: rgb(112, 131, 224);
        outline: none;
    }

.gray {
    color: rgb(200, 200, 200);
    font-size: 0.7em;
}
/*********************************      End General stylesheet    ************************/







/*********************************      MasterPage/navbar stylesheet    ************************/

.navbar {
    width: 100vw;
    height: 6vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    border-bottom: 2px solid rgb(51, 51, 51);
}

    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

        .navbar ul li {
            color: white;
            font-family: "tekoSemiBold";
            font-size: 1.2em;
            letter-spacing: 0.08em;
        }

            .navbar ul li:nth-last-child(2) {
                flex-grow: 4;
            }


            .navbar ul li a {
                text-decoration: none;
                color: white;
            }



#logoImg {
    width: 90px;
    padding-left: 1em;
}

.navTextItem {
    padding: 0.3em 3em 0 3em;
}

.PinkLineH a:hover {
    border-bottom: 2px solid rgb(242, 115, 233);
}


.BlueLineH a:hover {
    border-bottom: 2px solid rgb(50, 93, 219);
}

.GreenLine a {
    border-bottom: 2px solid rgb(29, 237, 167);
}

.profilePhoto {
    background-color: rgb(11, 11, 11);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


    .profilePhoto:hover {
        border: 2px dashed rgb(29, 237, 167);
    }
/*********************************      End MasterPage/navbar stylesheet    ************************/



/*********************************      HomePage stylesheet    ************************/

/*background animation*/
@keyframes moveIt {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}

#backgroundsContainer {
    position: relative;
    display: flex;
}

.pattern {
    position: absolute;
    top: 0;
    background-image: url(DesignElements/elements/pattern.png);
    background-size: 850px;
    z-index: 5;
    animation: moveIt 100s linear infinite;
    margin: 0;
}


#BlackBrightDiv, #BlackDiv {
    width: 50%;
    height: 100%;
    position: relative;
}

    #BlackBrightDiv > *, #BlackDiv > * {
        z-index: 10;
    }

.HomeSize {
    width: 100vw;
    height: 60vh;
}

#BlackBrightDiv {
    background-color: rgb(30,30,30);
    order: 1;
}

#BlackDiv {
    background-color: rgb(11, 11, 11);
    order: 2;
}

#loginContainer {
    height: 79%;
    width: 33%;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    position: absolute;
    right: 10%;
    top: 10%;
    font-family: "tekoSemiBold";
    font-size: 1.6em;
}

#loginList input[type="text"] {
    border: none;
    border-bottom: 2px solid rgb(30, 30, 30);
    background-color: rgb(243, 243, 243);
    outline: none;
    font-family: tekoMedium;
    font-size: 0.85em;
    width: 90%;
    border-radius: 0;
}

#loginList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 85%;
    height: 55%;
    margin-left: 1em;
}

    #loginList li {
        flex-grow: 2;
        width: 100%;
    }


#loginContainer [type=submit] {
    background-color: rgb(30, 30, 30);
    border-radius: 0.09em;
    color: white;
    font-family: tekoMedium;
    border: solid rgb(30, 30, 30) 1px;
    padding: 0.3em 1em;
    font-size: 1em;
    text-align: center;
    position: absolute;
    display: block;
    right: 50%;
    bottom: 10%;
    transform: translate(50%, -50%)
}

    #loginContainer [type=submit]:hover {
        background-color: rgb(29, 237, 167);
        border-color: rgb(29, 237, 167)
    }



#loginList input[type="text"]:focus {
    border-bottom: solid rgb(29, 237, 167) 2px;
}


#loginContainer span.Black {
    font-size: 1em;
    border-bottom: 3px solid rgb(210, 210, 210);
    padding-right: 0.3em;
    padding-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 2em;
    display: block;
    width: 20%;
}


input::-webkit-input-placeholder {
    color: rgb(191, 191, 191)
}

#BoundingLine {
    position: absolute;
    background-color: rgb(242, 147, 235);
    width: 0.5px;
    height: 75%;
    left: 50%;
    top: 12%;
    z-index: 11;
}

.LoginMessage {
    font-size: small;
    display: block;
    color: rgb(30, 30, 30);
    margin: 0 auto;
    width: 30%
}

#HPCharacter {
    position: absolute;
    /*width: 270px;*/
    left: 15%;
    top: 6%;
    width: 70%;
    display: block;
    width: 100%;
    max-width: 270px;
}


#HPCharacter2 {
    position: absolute;
    width: 200px;
    left: 3%;
    top: 20%;
    display: block;
}


#BrightDivElements {
    display: flex;
    height: 65%;
    width: 70%;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 10%;
    right: 10%;
}

    #BrightDivElements img {
        align-self: center;
        width: 360px;
    }

    #BrightDivElements span {
        font-family: tekoregular;
        color: white;
        font-size: 3em;
        border-bottom: solid 3px rgb(29, 237, 167);
        padding: 0 0.3em;
        padding-bottom: 0.5em;
    }


    #BrightDivElements a {
        font-family: tekoregular;
        color: white;
        font-size: 2.5em;
        border-bottom: solid 3px rgb(50, 93, 219);
        padding: 0 0.5em;
        padding-bottom: 0.3em;
        text-decoration: none;
    }

        #BrightDivElements a:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: rgb(50, 93, 219);
            padding-top: 0.2em;
        }

@media only screen and (max-height: 820px) {
    .HomeSize {
        height: 65vh;
    }
}

@media only screen and (max-height: 805px) {
    .HomeSize {
        height: calc(100vh - (6vh + 2px));
    }

    #loginContainer {
        height: 60%;
    }
}

@media only screen and (max-height: 640px) {
    #loginContainer {
        height: 70%;
    }
}

@media only screen and (max-height: 540px) {
    #loginContainer {
        height: 80%;
    }

    #HPCharacter {
        width: 240px;
    }
}

@media only screen and (max-width: 1730px) {
    #BrightDivElements span {
        font-size: 2.5em;
    }

    #loginContainer span.Black {
        width: 30%;
    }
}

@media only screen and (max-width: 1482px) {
    #BrightDivElements span {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 1348px) {
    #BlackBrightDiv {
        background-color: rgb(30,30,30);
        order: 2;
    }

    #BlackDiv {
        background-color: rgb(11, 11, 11);
        order: 1;
    }

    .HomeSize {
        height: calc(200vh - (6vh + 2px));
        width: 100vw;
    }

    #backgroundsContainer {
        position: relative;
        display: flex;
        flex-direction: column
    }

    #BlackBrightDiv, #BlackDiv {
        width: 100%;
        height: 50%;
        position: relative;
    }

    #BoundingLine {
        width: 75%;
        height: 0.5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
    }

    .navbar {
        justify-content: space-between
    }

    body {
        overflow-x: hidden;
    }

    #HPCharacter2 {
        left: 2%
    }
}

@media only screen and (max-width:790px) {
    #HPCharacter {
        left: 5%
    }

    #loginContainer {
        width: 40%;
    }

    #BrightDivElements span {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:600px) {
    #HPCharacter2 {
        display: none;
    }

    #HPCharacter {
        width: 170px;
        top: 20%
    }

    #loginContainer {
        width: 50%;
    }

    #BrightDivElements span {
        font-size: 1.9em;
    }
}
/*********************************      End HomePage stylesheet    ************************/

/*********************************      Regisration stylesheet    ************************/

.registration {
    width: 100vw;
    height: calc(100vh - (6vh + 2px));
    display: flex;
    flex-direction: row;
}

.registrationFinal {
    background-color: rgb(251, 251, 251);
    width: 100%;
    height: calc(100vh - (6vh + 2px));
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .registrationFinal img {
        margin: 0 auto;
        display: block;
        max-width: 250px;
        padding-bottom: 1em;
    }

.registrationFinal input[type=submit] {
    font-family: tekoSemiBold;
    font-size: 3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(50, 93, 219);
    padding-top: 0.2em;
    border: none;
    color: white;
}


#RegistrationMessage {
    font-family: tekoSemiBold;
    font-size: 3em;
    margin-bottom: 5%;
}

.BoundingLBlue2 {
    background-color: rgb(50, 93, 219);
    width: 70%;
    height: 4px;
    display: block;
    margin-bottom: 5%;
}

.grayDivRe {
    background-color: rgb(251, 251, 251);
    position: relative;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center
}

.BoundingLBlue {
    background-color: rgb(50, 93, 219);
    width: 2px;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
}

.grayDivRe img {
    max-width: 300px;
    height: 60%;
    align-self: center;
}

.WhiteDivRe {
    background-color: rgb(254, 254, 254);
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}



.regList {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 17%;
}


    .regList li {
        width: 90%;
        display: grid;
        grid-template-columns: 30% 30% 40%;
    }


        .regList li input[type=text], input[type=text] {
            flex-grow: 2;
        }

.WhiteDivRe input[type=submit] {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 3.5em;
    height: 1.2em;
    background-color: rgb(50, 93, 219);
    border: none;
    color: rgb(249, 249, 249);
    font-family: tekolight;
    font-size: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .WhiteDivRe input[type=submit]:hover {
        background-color: rgb(112, 131, 224);
    }

.graysml {
    font-size: 0.6em;
    color: rgb(200, 200, 200);
    grid-template-columns: 10% 10% 10%;
}

.floatLeft {
    float: left;
}

.radios {
    width: 100%;
    height: 90%;
    overflow-y: scroll
}

.ProfessionContainer {
    display: inline-block;
    width: 6em;
    height: 6.5em;
    border-radius: 0.4em;
    margin: 0.3em;
    position: relative;
    background-color: rgb(251, 251, 251);
    left: 5%;
}

    .ProfessionContainer img {
        display: block;
        margin: 0 auto;
    }

.ProfName {
    position: absolute;
    width: 100%;
    bottom: 2%;
    text-align: center;
    color: rgb(30,30,30);
    border-top: solid 3px rgb(224, 224, 224);
    font-family: tekolight;
    font-size: 0.9em;
    padding-top: 0.09em;
}

.radios input[type="radio"], input[type="checkbox"] {
    display: none;
}

.radios label {
    cursor: pointer;
}

.radios input[type="radio"]:checked + label, .radios input[type="checkbox"]:checked + label {
    border: solid 3px rgb(50, 93, 219);
}
